*{
    box-sizing: border-box;
    
}

body{
    margin: 0;
    padding: 0;
    background: url(/img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    max-height: 800px;
    padding: 50px 50px;
}

body, input, button{
    font-family: Helvetica, sans-serif;
}

.container{
    max-width: 980px; /* centralizando o conteúdo */    
    margin: 0 auto;  /* centralizando o conteúdo */
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    padding-top: 130px;
    padding-bottom: 200px;
    
}

.logo{
    height: 106px;
    display: block;
    max-width: 100%;
}

h2{
    font-size: 28px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #dfe4eb;
    max-width: 500px;
}

form{
    padding: 16px;
    opacity: 0.9;
    background: #fff;
    border-radius: 16px 0px 16px 0px;;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
}

input a, input, button{
    display: block;
}

input{
    width: 100%;
    margin-bottom: 12px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

input [placeholder]{
    font-family: Helvetica, sans-serif;
}

input::placeholder{
    font-size: 18px;
    color: #1d2129;
    opacity: 0.6;
}

form a{
    text-align: center;
    display: block;
    margin-top: 16px 16px 24px 16px;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
    padding-bottom: 16px;
    border-bottom: 1px solid #dadde1;
    margin-top: 15px;
}

form a:hover{
    text-decoration: underline;
}

.entrar, .criar-ct{
    font-weight: bold;
    color: white;
    border-radius: 316px;
    border-top-right-radius: 0;
    border: none;
    padding: 16px;
    cursor:pointer;
    text-align: center;
    transition: 200ms cubic-bezier(.08, .52, .52, .1);
}

.entrar{
    font-size: 20px;
    background: #FF4080;
    width: 100%;
}

.entrar:hover{
    background: #d87998;
}

.criar-ct{
    font-size: 17px;
    background: #d44575;
    margin: 0 auto;
    margin-top: 24px;
}

.criar-ct:hover{
    background: #d87998;
}

p{
    font-weight: bold;
    color: white;
}

p a{
    color: rgb(0, 0, 0);
    font-size: 17px;
    text-decoration: none;
}

p a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

footer{
    margin: -50px -50px;
    position: relative;
    top: 50px;
    text-align: center;
    height: 300px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: rgb(0, 0, 0);
}