* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background: url(/img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 60vh;
    width: 100%;
}

body,
input,
button {
    font-family: Helvetica, sans-serif;
}

input:focus {
    outline: none;
}

.container {
    width: 55%; /* centralizando o conteúdo */
    height: 80vh;
    margin: 0 auto; /* centralizando o conteúdo */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box-width{
    width: 100%;
    margin: 0px 8px;
}

.logo {
    height: 106px;
    display: block;
    max-width: 100%;
}

h2 {
    font-size: 28px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    color: #dfe4eb;
    max-width: 500px;
}

form {
    padding: 20px;
    opacity: 0.9;
    background: #fff;
    border-radius: 5px;
}

input a,
input,
button {
    display: block;
}

input {
    width: 100%;
    margin-bottom: 12px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
}

input [placeholder] {
    font-family: Helvetica, sans-serif;
}

input::placeholder {
    font-size: 18px;
    color: #1d2129;
    opacity: 0.6;
}

form a {
    text-align: center;
    display: block;
    margin-top: 16px 16px 24px 16px;
    font-size: 14px;
    color: #1877f2;
    text-decoration: none;
    padding-bottom: 16px;
    border-bottom: 1px solid #dadde1;
    margin-top: 15px;
}

form a:hover {
    text-decoration: underline;
}

.entrar,
.criar-ct {
    font-weight: bold;
    color: white;
    border-radius: 6px;
    border: none;
    padding: 16px;
    cursor: pointer;
    text-align: center;
    transition: 200ms cubic-bezier(0.08, 0.52, 0.52, 0.1);
}

.entrar {
    font-size: 20px;
    background: #ff4080;
    width: 100%;
}

.entrar:hover {
    background: #f11c63;
}

.criar-ct {
    font-size: 17px;
    background: #d44575;
    margin: 0 auto;
    margin-top: 24px;
}

.criar-ct:hover {
    background: #f11c63;
}

p {
    font-weight: bold;
    color: white;
}

p a {
    color: rgb(32, 114, 221);
    font-size: 17px;
    text-decoration: none;
}

footer {
    padding-top: 5em;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #ffffff;
}
